[submodule "_common"]
	path = _common
	url = git://github.com/FNNDSC/_common
[submodule "fyborg"]
	path = fyborg
	url = git://github.com/FNNDSC/fyborg
[submodule "wheels"]
	path = wheels
	url = git://github.com/FNNDSC/wheels
